/* ----- Début Base---- */
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

:root {
  --nav_back: #1b1c42;
  --nav_hover_color: #9747ff;
  --gradient: linear-gradient(to right top, #6b40dd, #9871ff);
  --back_color2: #373868;
  --anime_span_color: #c7b2ff;
}
/* ----- Fin Base---- */

body {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px;
  background-color: var(--nav_back);
  color: white;
}

h1,
h2 {
  font-size: 50px;
  font-family: "Amatic SC", cursive;
}
a {
  color: white;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
  color: #2b2c56;
}

nav {
  color: white;
  background-color: var(--nav_back);
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.menu_burger,
.search {
  opacity: 0;
  display: none;
}

.langues {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
nav a {
  /*padding: 2px 15px;*/
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 800;
  margin: 0 10px;
  font-family: "Quattrocento Sans", sans-serif;
}
nav a,
nav a:after,
nav a:before {
  transition: all 0.5s;
}

nav a:hover {
  color: var(--nav_hover_color);
}

/*.nav_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}*/

/* stroke */

.stroke {
  display: flex;
  gap: 10px;
}
.stroke a {
  position: relative;
}
.stroke a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--nav_hover_color);
  height: 0.3px;
}

.stroke a:hover:after {
  width: 100%;
}

.drop_refer {
  position: relative;
}

.drop_refer i {
  font-size: 10px;
}

.drop_link_box {
  /*background-color: rgba(136, 22, 41, 0.913);*/
  /*padding: 5px;*/
  background-color: pink;
  display: none;
}

.drop_link {
  margin-top: 1px;
  background-color: var(--nav_back);
  padding: 5px;
  line-height: 25px;
  white-space: nowrap;
  border-radius: 10px;
  position: absolute;
}

.drop_refer:hover i {
  transform: rotate(180deg);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.drop_refer:hover .drop_link_box {
  display: block;
}

/*debut menu burger*/
.burger {
  display: none;
}

/*Header*/
/*header {
  min-height: 100vh;
  margin-top: 50px;
}*/

.index_header {
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  align-items: end;
  justify-items: center;
}

.index_header > div {
  grid-area: 1 /1/2/2;
}

.bullets {
  display: flex;
  gap: 10px;
  margin-bottom: 100px;
  z-index: 1;
}

.bullets > span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2b2c56;
}

.bullets > span.current {
  background: var(--gradient);
}

.header_container {
  display: flex;
  width: 100vw;
  height: 100vh;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.container_img {
  width: 100vw;
  height: 100%;
  z-index: -1;
  flex-shrink: 0;
}

.container_img img {
  height: 100%;
  object-fit: cover; /*Pour empecher la deformation de l'image*/
}

.arrow_div {
  z-index: 1;
}
.arrow i {
  /*margin-top: 30px;*/
  font-size: 70px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.arrow i:hover {
  color: var(--nav_back);
}
/*Section1*/
.section1 {
  margin-top: 50px;
  padding: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
}
.section3 {
  min-height: 100vh;
  padding: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.section1_items {
  display: grid;
  gap: 24px;
  padding-bottom: 24px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 73px;
}

.img-block {
  overflow: hidden;
}

.img-block img {
  transition: 0.5s;
}
.img-block img:hover {
  -moz-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
}

/*Section2*/

.section2 {
  min-height: 90vh;
  background: url(../img/vague1.png) no-repeat;
  background-size: cover;
  display: grid;
  justify-items: center;
  align-items: center;
}

.sec2_box {
  background: var(--gradient);
  color: white;
  padding: 5px;
  border-radius: 6px;
}

.sec2_box_mini {
  background-color: var(--back_color2);
  padding: 12px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
}

.sec2_text {
  display: flex;
  gap: 15px;
  line-height: 30px;
  align-items: center;
  font-size: 22px;
}

.sec2_box_mini span {
  font-weight: bolder;
  font-size: 40px;
}
/*section3*/

/*.section3 {
  margin-top: 20px;
}*/

.section3_minibox {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
}

.section3_minibox img {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.section3_minibox2 {
  background-color: var(--back_color2);
  padding: 30px;
  display: grid;
  justify-content: space-between;
  align-content: space-between;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  line-height: 20px;
  justify-items: start;
}

.img_title {
  position: absolute;
  top: 200px;
  left: 30px;
}

.btn1 {
  display: inline-block;
  margin-top: 10px;
  padding: 15px 49px;
  background: var(--gradient);
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn1:hover {
  color: #2b2c56;
  background: white;
}

/*Section4*/
.section4 {
  padding: 0px 50px 60px;
  min-height: 120vh;
  background: url(../img/vague4.png) no-repeat;
  background-size: cover;
  display: grid;
  justify-items: center;
  align-items: center;
}

.section4_container {
  padding: 10px 50px 0px;
  display: grid;
  row-gap: 18px;
  justify-items: center;
  align-items: center;
}

/*section5*/

.section5 {
  margin-top: 50px;
  /*background-color: #d7c8ff;*/
  padding: 50px;
}

.section5 a {
  display: inline-block;
  text-align: center;
  padding: 35px;
  border-radius: 3px;
  background: var(--gradient);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.section5 a:hover {
  color: black;
  background: white;
}

.section5 div {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  padding: 10px 100px;
  align-items: center;
}
.section5 i {
  color: white;
  font-size: 150px;
}

/*section6*/
.section6 {
  margin-top: 30px;
  background-color: #2b2c56;
}

.section6_items {
  display: grid;
  padding: 50px 80px;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  align-items: center;
  justify-items: center;
}

/*-footer-*/
footer {
  padding: 10px;
  background-color: var(--back_color2);
}

.footer_container1 {
  display: grid;
  /* gap: 10px; */
  padding: 30px;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr 0.8fr 0.8fr 1fr;
}

.footer_logo {
  width: 70%;
}

footer h3 {
  font-weight: 700;
}

.footer_space1 {
  margin-top: 84px;
  line-height: 30px;
}

.footer_space2 {
  margin-top: 18px;
  line-height: 30px;
}
.footer_container1 a {
  display: block;
}

.footer_box {
  line-height: 35px;
}

.footer_container2 {
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: center;
}

.footer_container2 a {
  display: inline-block;
  padding: 15px 10px;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  background: var(--gradient);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer_container2 a:hover {
  background: white;
  color: #2b2c56;
}

/****CONTACT PAGE****/

.contact_nav {
  box-shadow: 14px 1px 14px 0px #000000;
}

.header_contact {
  margin: 208px 230px 10px;
  display: grid;
  row-gap: 20px;
}

.container {
  border-radius: 5px;
  display: grid;
  background-color: var(--back_color2);
  padding: 60px 80px;
  margin: 30px 0;
}

.header_contact h1,
.header_contact h2 {
  text-align: center;
}

.form_box1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
input[type="text"],
input[type="email"],
select,
textarea {
  font-family: "Quattrocento Sans", sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid white;
  background-color: var(--nav_back);
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  margin-top: 8px;
  font-size: 20px;
  margin-bottom: 16px;
}

input[type="email"] {
  width: 49%;
}

.ratio {
  line-height: 35px;
  margin: 10px 0;
  font-size: 20px;
}

.ratio h3 {
  font-weight: 700;
}

/*.input_ration {
  background: var(--gradient);
  /*padding: 5px;*
  margin: 20px;
  border-radius: 50%;
}*/
.ratio_box1 {
  display: flex;
  gap: 20px;
}

.ratio_box1 {
  display: flex;
  gap: 88px;
}
.ratio input {
  accent-color: #2b2c56;
}
.ratio_box2 {
  display: flex;
  gap: 97.9px;
}
.ratio_box3 {
  display: flex;
  gap: 94px;
}
.ratio_box4 {
  display: flex;
  gap: 86px;
}

form .submit_btn {
  text-align: center;
  margin-top: 5px;
}
input[type="submit"] {
  background: var(--gradient);
  color: white;
  font-weight: 700;
  padding: 15px 100px;
  text-align: center;
  margin: auto;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: white;
  color: black;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.strech {
  justify-items: stretch;
}

/****ASSO PAGE - ANIME****/
.section1_anime {
  min-height: 57vh;
  display: flex;
  text-align: center;
  padding: 53px 100px;
  flex-direction: column;
  justify-content: center;
  line-height: 50px;
}

.section1_anime p {
  font-size: 28px;
  padding: 29px 0px;
}

.section2_amine {
  padding: 0px 0 100px;
  min-height: 120vh;
  background: url(../img/vague4.png) no-repeat;
  background-size: cover;
  display: grid;
  justify-items: center;
  align-items: center;
}

.section2_amnbox {
  display: flex;
  padding: 90px 100px;
  row-gap: 20px;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  line-height: 40px;
}

.section2_amnbox h1 {
  text-align: center;
}

.section2_amnbox div {
  margin-top: 30px;
  display: grid;
  row-gap: 20px;
  /*padding: 20px;*/
  justify-items: start;
}

.section2_amnbox_btn {
  text-align: center;
}

.section2_amnbox .space {
  row-gap: 5px;
}

.section2_amnbox a {
  padding: 5px 92px;
}
.section2_amnbox span {
  color: var(--anime_span_color);
}

/****ASSO PAGE - REGION****/
.section1_region {
  display: flex;
  margin: 50px 80px 0;
  align-items: flex-start;
}
.reg_box_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}
.box_mini1 {
  background: var(--gradient);
  padding: 3px;
}

.box_mini2 {
  text-align: center;
  background: var(--back_color2);
  padding: 60px 60px;
  display: grid;
  row-gap: 20px;
}

.box_mini2 span {
  font-size: 72px;
  font-weight: 700;
  background: -webkit-linear-gradient(#6b40dd, #9871ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box_mini2 h3 {
  font-size: 48px;
}

.box_mini2 p {
  font-size: 30px;
  font-weight: 600;
}

.asso_region_img {
  margin: 50px 0;
}

/****ASSO PAGE - FILM****/
.header_asso {
  margin-top: 100px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  background: var(--back_color2);
}

.header_asso h1 {
  font-size: 60px;
}

.header_asso .img {
  width: 50%;
}

.section_asso {
  padding: 50px 50px;
  display: grid;
  row-gap: 50px;
  justify-items: center;
  align-items: center;
}

/****ACTU PAGE - ASSO****/
.spase_actu {
  margin-top: 105px;
}

.spase_actu h2 {
  padding-bottom: 20px;
}

/****ANNUAIRE****/
.annuaire_header {
  margin-top: 135px;
  padding: 50px 150px;
}

.annuaire_header h1 {
  text-align: center;
  padding-bottom: 40px;
}

.annuaire_header p {
  font-size: 28px;
  line-height: 40px;
  padding-bottom: 20px;
}

/****DOCUTHEQUE****/

.container_docu {
  margin: 150px 50px 0;
}

.container_docu h1 {
  text-align: center;
  padding-bottom: 50px;
}

.container_docu h3 {
  font-weight: 700;
  padding-bottom: 10px;
}

.docu_container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  justify-items: center;
  align-items: start;
}

.docu1_filters {
  display: grid;
  row-gap: 10px;
  background-color: var(--back_color2);
  border-radius: 8px;
  padding: 20px;
}

.docu1_filters div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.docu1_minibox {
  background: var(--gradient);
  padding: 3px;
}

.docu1_minibox div {
  background: var(--back_color2);
  padding: 8px;
}

.docu2_items {
  display: grid;
  row-gap: 20px;
}

.docu2_items div {
  background-color: var(--back_color2);
  padding: 30px 50px;
  line-height: 30px;
  border-radius: 6px;
}

.docu2_items a {
  color: #9799ee;
  padding-bottom: 10px;
}
/****RESPONSIVE****/
@media (max-width: 632px) {
  /*Navbar*/

  .langues,
  .no_display {
    display: none;
  }

  .menu_burger,
  .search,
  .logo {
    display: block;
    opacity: 1;
    z-index: 19;
  }

  .search i {
    font-size: 24px;
  }

  nav {
    box-shadow: 14px 1px 14px 0px #000000;
    z-index: 10;
  }

  .nav_links {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    background: #171845;
    font-size: 16px;
    inset: 98px 0 0 0;
    padding: 30px;
    /*margin-left: -100%;*/
    transition: transform 0.5s ease;
    transform: translate(-100%);
    opacity: 0;
    animation: navlinks 0.5s 0.5s forwards;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  @keyframes navlinks {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  .nav_links.mobile_menu {
    transform: none;
  }

  .menu_burger {
    opacity: 1;
    display: block;
    width: 30px;
    z-index: 19;
    top: 58px;
    right: 56px;
  }

  /*.mobile_menu + .menu_burger {
    position: fixed;
  }*/

  .menu_burger > div {
    height: 4px;
    border-radius: 2px;
    background: white;
    margin-bottom: 6px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  /*Index - section2*/
  .section1_items {
    grid-template-columns: repeat(1, 1fr);
  }
  /*Index - section5*/
  .section5 div {
    display: grid;
    justify-items: center;
  }

  /*Index - section6*/
  .section6_items {
    grid-template-columns: repeat(2, 1fr);
  }
}
